/* // X-Small devices */
@media (max-width: 575.98px) { 
    /* Home Page Start   */
/* Home Page Start   */

/* Common CSS Start  */
.navbar-brand{
    height: 100px;
    width: 100px;
}
.navbar-toggler-icon i{
    font-size: 30px;
}

.res_nav_bar{
    text-align: center;
}
.nav-link {
    font-size: 16px;
}
.signup {
    padding: 7px 20px;
    font-size: 18px;
}
.login {
    padding: 7px 20px;
    font-size: 18px;
}
.banner_part_one {
	padding-bottom: 129px;

}
.banner_img {
	width: 239px;
    margin: 0 auto;
}
.res_banner_text{
    margin: 0 auto;
}
.upper_part p {	
	line-height: 22px;
	padding-top: 10px;
	text-align: center;
}
.upper_part{
    padding-left: 0;
    text-align: center;
    
}
.upper_part h4 {
	padding-bottom: 10px;
	padding-top: 34px;
 
}
.upper_part a {
    font-size: 75px;
}

.play_now {
	margin-top: 20px;
	margin-left: 0;
	padding: 14px 18px;
	font-size: 22px;
	box-shadow: 0 5px #3a0090;
	
}

.play_now:hover{
    box-shadow: 0 5px #661355;
}
.banner_part_two {
	padding-bottom: 30px;
}
.reg_log_enjoy {
	padding-top: 65px;
}
.reg_box_in .sl {
	
	font-size: 30px;
}
.reg_box_in h3 {
	
	font-size: 24px;
	line-height: 34px;
}

.reg_box_in p {
	
	font-size: 14px;
	line-height: 24px;
}

.curving_box {
    width: 33%;
	bottom: 0%;

}
.reg_box_in {
	text-align: center;
	padding: 10px 0px;
	background: #5e13cc;
	box-shadow: 0px 7px #2c0565;
	border-radius: 5px;
}
.play_now_game {
	padding-top: 38px;
}
.games_heading {
	margin-top: 30px;
}
.res_play_game{
    width: 50%;
    margin: 0;
    padding: 0;
}
.overly_paly_now h3 {
    padding-top: 30%;
    font-size: 18px;
    text-align: center;
}
.play_now_hvr {

	padding-top: 0%;
	
}
.play_now_hvr h3{
    padding-bottom: 18px;
}
.play_now_btn {
	padding: 8px 15px;
	border-bottom: 5px solid #3a0090;	
	font-size: 18px;	
}
.play_now_btn:hover{
    border-bottom: 5px solid #661355;	
}
#spin_part {
	padding-top: 30px;
}
.spin_img_part{
    display: none;
}
.unlock_spin {
    text-align: center;
}
.unlock_spin h3 {
	padding-top: 0;
    font-size: 34px;
}
.unlock_spin p {
	color: #fff;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	padding-top: 30px;
	padding-bottom: 30px;
    text-align: justify;
}
#pricing_part {
	padding-top: 30px;
	padding-bottom: 30px;
}
.pricing_plan h3 {
	font-size: 36px;
	margin-bottom: 44px;
}
.trial_text h3 {
	font-size: 36px;
	padding-top: 15px;
	padding-bottom: 12px;
}
.trial_text h4 {
	font-size: 26px;
}
.trial_text p {
	padding-bottom: 0px;
}
.trial_text .price_based {
	font-size: 14px;
	padding-top: 14px;

}

.trial_plan {
	padding-top: 41px;
	padding-bottom: 35px;
	margin-bottom: 53px;
}
.trial_plan .choose_now{
    box-shadow: 0 5px #3a0090;
}
.trial_plan:hover .choose_now ,.trial_plan:hover .featured{
    box-shadow: 0 5px #661355;
}
#faq_tournament {
	padding: 30px 0;
	
}
.faq_header h2 {
	font-size: 26px;
}
.faq_body {
	padding-top: 16px;
}
.accordion-button .down_arrow{
    margin-left: 44px;
}
.accordion-button .down_arrow_3{
    margin-left: 44px;
}

.accordion-button {
	line-height: 24px;
}
.tournament_header h2 {
	font-size: 26px;
}
.tournament_header {
	padding-bottom: 24px;
}
.tournament_body {
	margin-top: 20px;
}

.count_down_title_box strong {
	margin-bottom: 10px;
}
.winner_list a {
	font-size: 14px;
}
.winner_item {
margin-left: 0;
padding-left: 0;
}
.subs_header h3 {
	font-size: 24px;
}
.subs_header{
padding-top: 10px;
}
.linksabout_us{

}
.links_add{
    padding-top: 20px;
}

.footer_about_us h3 {
	font-size: 26px;
 }


/* Pricing Page Responsive Start   */
.membership_plan{
    font-size: 39px;
}
/* Pricing Page Responsive End   */

/* Connect or FAQ page Start  */
.connect_page_navbar{
   padding-bottom: 20px;
}
.contact_page_body{
    padding-bottom: 0;
}
.contact_page_banner {
	padding-bottom: 20px;
}
.about_us{
    padding-bottom: 62px;
}
#contact-us {
	padding-top: 85px;
	padding-bottom: 29px;
}
.location a {
	height: 68px;
	width: 68px;
}
.address{
    margin-bottom: 15px;
}
.address h5 {
	font-size: 19PX;
	padding-bottom: 12px;
}
.address P {
	font-size: 16PX;
	line-height: 22PX;
}
/* Connect or FAQ page End  */


/* Signup Page Start  */
.signup_banner{
    padding-bottom: 11px;
}
#sign_in_part {
	padding-top: 0px;
	padding-bottom: 50px;
}
.type_name {
	width: 90%;
	margin-right: 0;
}
#name {
	padding-bottom: 18px;
	margin-top: 15px;
	width: 93%;
}
.type_name a i {
	font-size: 14px;
	padding-left: 0px;
    float: right;
}
.signup_mail {
	padding-top: 40px;
	width: 90%;
}
#mail_add {
    width: 93%;
}
.signup_mail a i {
	font-size: 14px;
	padding-left: 0px;
    float: right;
}
.sign_in {
	padding-top: 11px;
}
.sign_in p a {
	line-height: 50px;
}
.reg_with {
	margin-left: 0px;
}
.log_in p span {
	color: #fff;
	font-family: 'Nunito', sans-serif;
	font-weight: 400px;
	font-style: 16PX;
	margin-left: 0;
	display: inline-block;
	padding-top: 20px;
}
/* Signup Page End  */


/* SignIn Page Start  */
.log_in p span {
	margin-left: 0;
	display: inline-block;
	padding-top: 20px;
}
/* SignIn Page End */


/* Error page Start  */
.error_img {
	padding-top: 0px;
}
.error_page_banner{
    padding-bottom: 40px;
}
/* Error page End  */


































/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px){ 
    /* Common CSS Start  */




 }

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {  }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  }

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {  }

